<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation-directive>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.cancel()">&times;
        </button>
        <h4 class="modal-title">{{vm.pageTitle}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label">应用名称</label>
            <input type="text" class="form-control" ng-model="vm.entity.appName" value="{{vm.entity.appName}}">
        </div>
        <div class="form-group">
            <label class="control-label">负责人邮箱</label>
            <input type="text" class="form-control" ng-model="vm.entity.responsiblePerson.email"
                   value="{{vm.entity.responsiblePerson.email}}">
        </div>
        <div class="form-group">
            <label class="control-label">节点URL</label>
            <button class="btn btn-info btn-circle" type="button" ng-click="vm.addNode()">
                <i class="fa fa-plus"></i>
            </button>
            <div class="row" ng-repeat="v in vm.entity.nodes track by $index">
                <div class="col-md-4"><input ng-model="vm.entity.nodes[$index].serverAddress"
                                             type="text" placeholder="节点服务器地址" class="form-control"
                                             value="{{v.serverAddress}}"></div>
                <div class="col-md-3"><input ng-model="vm.entity.nodes[$index].port"
                                             type="text" placeholder="节点服务器端口" class="form-control"
                                             value="{{v.port}}"></div>
                <div class="col-md-4"><input ng-model="vm.entity.nodes[$index].healthContextPath"
                                             type="text" placeholder="节点服务器健康路径" class="form-control"
                                             value="{{v.healthContextPath}}"></div>
                <button class="btn btn-warning btn-circle" type="button" ng-click="vm.deleteNode($index)">
                    <i class="fa fa-minus"></i>
                </button>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" ng-click="vm.cancel()">
            <span class="fa fa-times"></span>&nbsp;<span>取消</span>
        </button>
        <button type="submit" class="btn btn-default btn-sm" ng-disabled="editForm.$invalid || vm.isSaving">
            <span class='fa fa-circle-o-notch fa-spin' ng-show="vm.isSaving"></span>
            <span class="fa fa-check" ng-hide="vm.isSaving"></span>
            &nbsp;<span>保存</span>
        </button>
    </div>
</form>
