<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{vm.pageTitle}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首页</a>
            </li>
            <li>
                <a style="pointer-events: none">{{vm.grandfatherPageTitle}}</a>
            </li>
            <li>
                <a ui-sref="^">{{vm.parentPageTitle}}</a>
            </li>
            <li class="active">
                <strong>{{vm.pageTitle}}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInDown">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>参数名称</th>
                            <th>参数值</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>应用名称:</td>
                            <td>{{vm.entity.appName}}</td>
                        </tr>
                        <tr>
                            <td>负责人邮箱:</td>
                            <td>{{vm.entity.responsiblePerson.email}}</td>
                        </tr>
                        <tr>
                            <td>节点URL:</td>
                            <td>
                                <ul>
                                    <li ng-repeat="o in vm.entity.nodes">
                                        {{o.serverAddress}}:{{o.port}}{{o.healthContextPath}}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>修改时间:</td>
                            <td>{{vm.entity.modifiedTime}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-right">
                        <button type="button" class="btn btn-default btn-sm" ui-sref="^">
                            <span class="fa fa-arrow-left"></span>&nbsp;<span>返回</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>